/* 
**************
Reset Default
**************
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
**************
Design System
**************
*/

body {
    font-family: Poppins, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}

header {
    text-align: center;
    padding: 40px;
}

/* Header */

header h1 {
    font-family: fredoka, sans-serif;
    color: #E43170;
    margin-bottom: 40px;
}

/* Float Cards */

.user-container {
    margin-bottom: 20px;
}

.user-container::after {
    content: "";
    clear: both;
    display: block;
}

.user-card {
    background-color: #0F0E17;
    color: #ffffff;
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 10px;
    box-shadow: 4px 4px 15px 7px rgba(0, 0, 0, 0.25);
}

.user-image {
    float: left;
}

.user-image img {
    height: 80px;
    display: block;
}

.user-info {
    float: left;
    padding-left: 20px;
}

.user-info h2 {
    font-family: Fredoka, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-info h4 {
    font-size: 12px;
    font-weight: 400;

}

.user-info a {
    color: #4FBAE7;
    font-size: 12px;
    text-decoration: none;
}